@font-face {
	font-family: "ocra";
	src: url(../fonts/ocraextended.ttf) format("truetype");
}


body {
	color: white;
	background: black;
}

#overlay {
	position: absolute;
	background: repeating-linear-gradient(
	    #609860,
	    #609860 3px,
	    #386238 3px,
	    #386238 5px
	);
	opacity: 0.3;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

#boardcontainer {
	margin: 0 auto;
	/*height: 600px;*/
}

#screen {
	border-radius: 40px;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	/*border: 1px solid white;*/
}

#board {
	/*position: relative;
	top: 15px*/;
	border: 2px solid white;
	/*background-color:black;*/
	border-collapse:collapse;
	/*border:1px solid #FFCC00;*/
	margin: 20px auto;
	margin-top: 30px;
}

#board td {
	padding: 0;
	height: 15px;
	width: 15px;
}

#topbar {
	font-family: "ocra";
	height: 56px;
	/*border: 1px solid green;*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 10px;
	position: relative;
}


#p1scorebox {
	float: left;
	text-align: center;
	/*border: 1px solid white;*/
	margin-left: 30px;
}

#p1scoretext {
	margin: 0;
	font-size: 20px;
}

#p1scoreno {
	margin-bottom: 0;
	margin-top: 8px;
	font-size: 25px;
	color: #00FFFF;
}

#time {
	font-size: 35px;
	position: absolute; 
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	left: 0px;
	right: 0px;
	width: 100px;
	border: 1px solid black;
	text-align: center;
	/*clear: none;*/
}

#p2scorebox {
	/*visibility: hidden;*/
	float: right;
	text-align: center;
	/*border: 1px solid white;*/
	margin-right: 30px;
}

#p2scoretext {
	margin: 0;
	font-size: 20px;
}

#p2scoreno {
	margin-bottom: 0;
	margin-top: 8px;
	font-size: 25px;
	color: #DD0011;
}



#clear {
	clear: both;
}



.snake1 {
	background: #00FFFF;
}

.snake2 {
	background: #DD0011;
}


.invincibleSnake {
	background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}




.food {
	background-image: url(../img/apple.png);
	background-size: 14px;
	background-repeat: no-repeat;
}


.speed {
	background: url(../img/speed.svg);
	background-size: 16px;
	background-repeat: no-repeat;
}


.shrink {
	background: url(../img/scissors.svg);
	background-size: 15px;
	background-repeat: no-repeat;
}


.invincible {
	background: url(../img/shield.svg);
	background-size: 15px;
	background-repeat: no-repeat;
}